[submodule "02-Products-App/products-ms"]
	path = 02-Products-App/products-ms
	url = https://github.com/SantiagoEsquivelHub/products-microservice.git
[submodule "02-Products-App/client-gateway"]
	path = 02-Products-App/client-gateway
	url = https://github.com/SantiagoEsquivelHub/client-gateway.git
[submodule "02-Products-App/orders-ms"]
	path = 02-Products-App/orders-ms
	url = https://github.com/SantiagoEsquivelHub/orders-microservice.git
[submodule "02-Products-App/payments-ms"]
	path = 02-Products-App/payments-ms
	url = https://github.com/SantiagoEsquivelHub/payments-microservice.git
[submodule "02-Products-App/auth-ms"]
	path = 02-Products-App/auth-ms
	url = https://github.com/SantiagoEsquivelHub/auth-microservice
